# Problem 22

Using names.txt, a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.

For example, when the list is sorted into alphabetical order, COLIN, which is worth **3 + 15 + 12 + 9 + 14 = 53**
, is th **938**th h name in the list. So, COLIN would obtain a score  **938 x 53 = 49714** 
.

What is the total of all the name scores in the file?

## Solution 1 - using Pandas

In [1]:
import pandas as pd

In [2]:
# Load names into a dataframe
df_names = pd.read_csv('0022_names.txt',  delimiter=',')
df = pd.DataFrame((name for name in df_names), columns=['Name'])

In [3]:
# Sort alphabetically
df = df.sort_values(by='Name', ascending=True).reset_index(drop=True)
# Change indexing so that it starts from 1:
df.index = range(1, len(df) + 1)
# Display
df.head()

    Name
1  AARON
2  ABBEY
3  ABBIE
4   ABBY
5  ABDUL

In [6]:
# Precompute letter values (assuming English alphabet)
letter_number = {chr(i): i - 64 for i in range(65, 91)}  # 'A' = 1, ..., 'Z' = 26

In [7]:
# Function to calculate name score
def name_score(name):  
    # Find row number (1-based index)
    row_number = df.index[df['Name'] == name][0]
    # Calculate letters score
    letter_score = sum(letter_number.get(letter, 0) for letter in name)
    # Calculate name score
    return letter_score * row_number

In [8]:
name_scores = {}
for name in df["Name"]:
    score = name_score(name)
    name_scores[name] = score

In [9]:
# Display results
# Define number of first records:
n = 10
first_items = list(name_scores.items())[:n]
print(first_items)

[('AARON', 49), ('ABBEY', 70), ('ABBIE', 57), ('ABBY', 120), ('ABDUL', 200), ('ABE', 48), ('ABEL', 140), ('ABIGAIL', 328), ('ABRAHAM', 396), ('ABRAM', 350)]

In [10]:
# Sum all values in the dictionary
total_sum = sum(name_scores.values())
print(total_sum)

871198282

## Solution 2 - no external libraries

In [33]:
# Import names from the file
file = open('0022_names.txt', 'r')
lines = file.read()

In [34]:
# Clean the input
# Remove "
lines = lines.replace('"', '')
# Split a string into a list
names = lines.split(',')
# Sort names alphabetically
names.sort()
# Print first 5 records
print(names[0:5])

['AARON', 'ABBEY', 'ABBIE', 'ABBY', 'ABDUL']

In [35]:
# Precompute letter values (assuming English alphabet)
letter_number = {chr(i): i - 64 for i in range(65, 91)}  # 'A' = 1, ..., 'Z' = 26
print(letter_number)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9, 'J': 10, 'K': 11, 'L': 12, 'M': 13, 'N': 14, 'O': 15, 'P': 16, 'Q': 17, 'R': 18, 'S': 19, 'T': 20, 'U': 21, 'V': 22, 'W': 23, 'X': 24, 'Y': 25, 'Z': 26}

In [36]:
# Function to calculate name score
def name_score(name, names):  
    # Find position score (1-based index)
    position_score = names.index(name) + 1
    # Calculate letters score using a generator
    letter_score = sum(letter_number.get(letter, 0) for letter in name)
    # Calculate name score
    return letter_score * position_score

In [37]:
total_score = 0
for name in names:
    score = name_score(name, names)
    total_score += score
print(total_score)

871198282